body,
html {
    background: #222;
    color: #222;
}

a {
    color: ghostwhite;
    background-color: cadetblue;
    font-size: 21px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: 3px solid transparent;
    border-radius: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

.container {
    width: 85%;
    height: 100%;
    margin: auto;
    background: #333;
    padding: 20px;
    font-size: 14px;
    color: #333;
    line-height: 1.2;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.eot?v=3.1.0');
    src: url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.woff?v=3.1.0') format('woff'), url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.ttf?v=3.1.0') format('truetype'), url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
    font-weight: normal;
    font-style: normal;
}

li {
    margin-left: 35px;
}

h3 {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ccc;
}

h5 {
    font-size: 21px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ccc;
}

[linka] {
    color: ghostwhite;
    font-size: 21px;
    text-decoration: none;
    display: inline-block;
}